<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #wrap{
            width: 100%;
            height: 100%;
            background: whitesmoke;
        }
        .upload_middle_row{
            width:500px;
            height:1000px;
            background-color: antiquewhite;
            margin:0 auto;
        }
    </style>
</head>
<body>
<div class="upload_middle_row">
    <form action="/upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-2" style="background-color: coral">
            <p>Title</p>
            <textarea class="form-control" style="resize:none" name="title"></textarea>
            <p>Images</p>
            <input type="file"
               id="img_upload" name="img_url"
               accept="image/png, image/jpeg, image/gif"><br><br><br>
            <label for="timecost">timecost:</label>
            <select name="timecost" id="timecost">
                {% for time in timecost %}
                <option value="{{ time.timecost }}">{{ time.timecost }}</option>
                {% endfor %}
            </select>
            <label for="difficulty">difficulty:</label>
            <select name="difficulty" id="difficulty">
                {% for diff in difficulty %}
                    <option value="{{ diff.difficulty }}">{{ diff.difficulty }}</option>
                {% endfor %}
            </select>

            <p>Ingredient</p>
            <textarea class="form-control" cols="50" name="ingredient"></textarea>
            <p>Cookstep</p>
            <textarea class="form-control" cols="50" rows="10" name="cookstep"></textarea>
            <p>Author</p>
            <textarea class="form-control" style="resize:none" name="recipe_author"></textarea><br>
            <button type="submit">Upload</button>
        </div>
    </form>
</div>

</body>
</html>